
:root {
  --primaryColor: #4b6cc1;
  --secondaryColor: #5e5e5e;
  --darkColor: #191919;
  --lightColor: #919191;
  --xlFont: 55px;
  --largeFont: 30px;
  --medFont: 20px;
  --regFont: 12px;
}


.top-footer {
  display: flex;
  flex-direction: row;
  padding: 150px 0;
  background-color: #333333;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
}

.top-footer h4 {
  color: white;
}

.contact-information ul li {
  list-style: none;
}

  .contact-information ul li a {
    font-size: 15px;
    color: #b2b2b2;
  }

.bottom-footer {
  padding: 15px 0;
  text-align: center;
  background-color: var(--darkColor);
  color: white;
}

.footer-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer-col div.footer-links {
  margin: unset auto;
}

.footer-links {
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  color: white;
}

.social-icons-container {
  width: 100%;
  max-width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-col h5 {
  text-align: center;
  font-size: var(--largeFont);
  color: white;
}
.footer-col a {
  font-size: var(--medFont);
  color: black;
  margin: 1px 0;
  color: white;
}

.footer-col a:hover {
  text-decoration: none;
}