
:root {
  --primaryColor: #4b6cc1;
  --secondaryColor: #5e5e5e;
  --darkColor: #191919;
  --lightColor: #919191;
  --xlFont: 55px;
  --largeFont: 30px;
  --medFont: 20px;
  --regFont: 12px;
}


.top-footer {
  display: flex;
  flex-direction: row;
  padding: 150px 0;
  background-color: #232323;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
}

.top-footer h4 {
  color: white;
  font-size: var(--largeFont);
}

.contact-information ul li {
  list-style: none;
}

  .contact-information ul li a {
    font-size: 15px;
    color: #b2b2b2;
  }

.bottom-footer {
  padding: 15px 0;
  text-align: center;
  background-color: var(--darkColor);
  color: white;
}

.footer-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer-col div.footer-links {
  margin: unset auto;
}

.footer-links {
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  color: white;
}

.social-icons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.social-icons-container div {
  display: flex;
  flex-direction: row;
  color: white;
}

.social-icons-container div a {
  width: 20px;
}

.social-icons-container div div {
  color: #b2b2b2;
  font-size: 15px;
  margin: auto 30px;
}

.footer-col h5 {
  text-align: center;
  font-size: var(--largeFont);
  color: white;
}
.footer-col a {
  color: black;
  margin: 1px 0;
  color: white;
}

.footer-col a:hover {
  text-decoration: none;
}

.fab, .fas {
  color: var(--primaryColor);
}
.footer-button {
  font-size: 20px;
  padding: 10px;
  border: 3px solid var(--primaryColor);
  color: white;
  border-radius: 30px;
  text-align: center;
  transition: all 200ms ease-in;
}

.footer-button:hover {
  text-decoration: none;
  background-color: var(--primaryColor);
  color: white;
  border: 3px solid var(--primaryColor);
  transform: scale(1.1);
}


@media only screen and (max-width: 500px) {
  .top-footer {
    display: flex;
    flex-direction: column;
  }

  .footer-col {
    width: 100%;
  }

  .social-icons-container {
    margin-top: 40px;
  }

  .social-icons-container div {
    margin: auto;
  }

  .top-footer h4 {
    font-size: var(--medFont);
  }

  .footer-button {
    font-size: 15px;
  }
} 