
:root {
  --primaryColor: #4b6cc1;
  --secondaryColor: #5e5e5e;
  --darkColor: #191919;
  --lightColor: #919191;
  --xlFont: 55px;
  --largeFont: 30px;
  --medFont: 20px;
  --regFont: 12px;
}

.hero-container {
  background-color: var(--darkColor);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 93%);
}

.post-heading {
  padding: 200px 0;
  color: white;
}

.post-heading h1:last-of-type {
  font-size: 70px;
  color: var(--primaryColor);
}

.post-heading div {
  font-size: 35px;
}

.subheading:last-of-type {
  margin-bottom: 30px;
}

.hero-button {
  font-size: 20px;
  padding: 10px;
  border: 3px solid var(--primaryColor);
  color: white;
  border-radius: 30px;
  text-align: center;
  transition: all 200ms ease-in;
}

.hero-button:hover {
  text-decoration: none;
  background-color: var(--primaryColor);
  color: white;
  border: 3px solid var(--primaryColor);
  transform: scale(1.1);
}

@media only screen and (min-width: 768px) {

}