
:root {
  --primaryColor: #4b6cc1;
  --secondaryColor: #5e5e5e;
  --darkColor: #191919;
  --lightColor: #919191;
  --xlFont: 55px;
  --largeFont: 30px;
  --medFont: 20px;
  --regFont: 12px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar--bg {
  width: 100%;
  background-color: black;
  opacity: 0.9;
  z-index: 10;
}

.nav-link {
  color: var(--primaryColor) !important;
}
.nav-link:hover {
  color: var(--primaryColor) !important;
}